.alert
    padding:6px
    text-align: center
    border:1px solid transparent !important
    border-radius:8px !important
    
.alert h4
    margin-top:0
    color:inherit
.alert 
    font-size: 11px
.alert-link
    font-weight:normal
.alert>p,.alert>ul
    margin-bottom:0
.alert>p+p
    margin-top:5px

.alert-dismissable,.alert-dismissible
    padding-right:35px
.alert-dismissable 
.close,.alert-dismissible 
.close
    position:relative
    top:-2px;right:-21px
    color:inherit
.alert-success
    background-color:#77b300
    border-color:#809a00
    color:#ffffff
.alert-success hr
    border-top-color:#6a8000
.alert-success .alert-link
    color:#e6e6e6
.alert-info
    background-color:#9933cc
    border-color:#6e2caf;color:#ffffff
.alert-info hr
    border-top-color:#61279b
.alert-info .alert-link
        color:#e6e6e6
.alert-warning
    background-color:#ff8800
    border-color:#f05800
    color:#ffffff
.alert-warning hr
    border-top-color:#d64f00
.alert-warning 
.alert-link
    color:#e6e6e6
.alert-danger
    background-color:#FB4747
    border-color:#bd001f
    color:#ffffff
.alert-danger hr
    border-top-color:#DA4B4B
.alert-danger
.alert-link
    color:#e6e6e6  
.alert
    border-radius: 0px
    margin-bottom 0px
.alert
	margin: 16px 0 16px 0x
	ul
		margin-left 24px !important
