
$maincolor = #DEC3F6
$maincolor_black = #B698D1

body
    font-family 'Roboto', sans-serif
    padding 0
    margin 0
    box-sizing: border-box

.row
    padding: 0
    margin: 0

input:focus, select:focus, select, input.form-control:focus, .btn:focus
    outline:none !important
    outline-width: 0 !important
    border-color: $maincolor
    box-shadow: none
    -moz-box-shadow: none
    -webkit-box-shadow: none

.centerf
    display: flex
    justify-content: center
    align-items: center

.centerimg
    display: block
    margin: auto

